@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #ccc;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.calculadora{
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    width: 530px;
    height: 530px;
    background-color: rgb(7, 7, 7);
    box-shadow: 10px 5px 5px rgb(125, 122, 122);
}

.calculadora button{
    border-radius: 30px;
    width: 107px;
    height: 50px;
    padding: 5px 5px 5px 5px;
    margin: 2px;
    text-align: center;
    background-color: rgb(63, 64, 65);
    color: white;
    font-weight: bold;
    font-size: 25px;
    transition: all 0.5s;
}

.calculadora button:hover{
    cursor: pointer;
    background-color: rgb(69, 121, 167);
}

.resultado button{
    width: 460px;
    height: 70px;
    padding-right: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    background-color: rgb(21, 126, 91);
    border-radius: 8px;
    text-align: right;
    font-size: 50px;
    color: rgb(60, 59, 59);
}

.resultado button:hover{
    cursor: default;
    background-color: rgb(21, 126, 91);
}

.linha1, .linha2, .linha3, .linha4, .linha5{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.linha1{
    margin-top: 35px;
}

.linha1 button{
    background-color: #ccc;
    color: black;
}

.linha5 .zero{
    width: 220px;
}

.calculadora .operacao{
    color: white;
    background-color: rgb(255, 168, 7);
}