body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

input {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #4c7faf;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #699fda;
}

.botao{
    margin-right: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #f9f9f9;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    font-weight: bolder;
}

